.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  gap: 50px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.header1 a {
  position: relative;
  padding-bottom: 5px;
}

.header1 a::before {
  content: "";
  position: absolute;
  transition: 0.3s;
  bottom: 0;
  background-color: var(--primaria);
  height: 2px;
  width: 0%;
  border-radius: 5px;
}

nav a:hover::before {
  width: 100%;
}

.lista-header {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-item {
  font-weight: bold;
  font-size: 18px;
}

.pesquisar {
  display: flex;
  position: relative;
}

.pesquisar input {
  position: absolute;
  opacity: 0;
  z-index: -10;
  transition: 0.3s;
  padding: 5px;
  right: 0;
  border-radius: 5px;
  outline-color: var(--primaria);
  width: 300px;
}

.pesquisar input:focus {
  opacity: 100%;
  transform: translateX(-50px);
}

.pesquisar:hover input {
  transform: translateX(-50px);
  opacity: 100%;
  z-index: 10;
}

.pesquisar {
  padding-left: 200px;
  img {
    cursor: pointer;
  }
}

.logo {
  display: flex;
  margin-right: 50px;
  justify-content: center;
  align-items: center;
}

.logo a img {
  max-width: 100px;
}

.perfil {
  position: relative;
}

.lista-perfil {
  position: absolute;
  display: grid;
  gap: 5px;
  margin-top: -500px;
  transition: 0.3s;
}

.perfil-principal:hover ~ .lista-perfil,
.lista-perfil:hover {
  right: 0;
  left: 0;
  margin-top: 0px;
  z-index: -1;
  padding-top: 5px;
}

.perfil a img {
  transition: 0.2s;
}

.perfil a img:hover {
  scale: 1.2;
}

.perfil-item {
  text-align: center;
}

@media (max-width: 1000px) {
  .pesquisar {
    padding-left: 20px;
    right: 0;
  }
  .header {
    justify-content: space-between;
    gap: 10px;
  }
  .header1 {
    display: none;
  }
}

@media (max-width: 640px) {
  .pesquisar input {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .pesquisar input {
    width: 150px;
  }
  .pesquisar:hover input {
    transform: translateX(-30px);
  }
  .pesquisar input:focus {
    transform: translateX(-30px);
  }
}

@media (max-width: 440px) {
  .pesquisar {
    display: none;
  }
}
