body {
  background: var(--secundaria);
  display: grid;
  grid-template-columns: 1.4fr 2fr;
  height: 100vh;
}

header {
  position: relative;
}

.cima-header {
  padding: 20px;
}

.saturno-header {
  margin-top: 70px;
  max-width: 140%;
  left: -50px;
  top: 180px;
  position: absolute;
  transform: rotate(10deg);
  transition: 0.3s;
}

.saturno-header:hover {
  transform: translateY(-10px);
}

@media (max-width: 1150px) {
  body {
    grid-template-columns: 1fr;
    height: initial;
  }

  .saturno-header {
    max-width: 95%;
    position: initial;
  }

  header {
    height: initial;
  }
}
