.btn-grande {
  background: var(--primaria);
  font-size: 2rem;
  font-weight: bold;
  color: var(--branco);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-grande:hover {
  background: var(--terciaria);
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 15px;
}

.selected a::before {
  content: "";
  position: absolute;
  transition: 0.3s;
  bottom: 0;
  background-color: var(--primaria);
  height: 2px;
  width: 100%;
  border-radius: 5px;
}
